
.infobox-container {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.5);
    border-radius: 10px;
    padding: 12px;
}

.info-row {
    margin-bottom: 4px;
}

.info-row:last-child {
    margin-bottom: 0;
}

.info-label {
    margin-right: 12px;
}

.info-values-container {
    /* Container for one or more values */
}

.info-value {
    /* Individual value labels */
}

.logo-container {
    margin-bottom: 12px;
}
