
.infobox-container {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.5);
    border-radius: 10px;
    padding: 12px;
}

.info-item {
    margin-bottom: 4px;
}

.info-item:last-child {
    margin-bottom: 0;
}

.logo-icon {
    margin-bottom: 8px;
}
